.summary {
  text-align: left;
  text-align: justify;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -20rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 2.25rem 2rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
  padding-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.summary p {
  padding: 0.05rem 0;
  line-height: 1.6;
}