.cartitem{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 5rem;
    width: 100%;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 40%;
}

.item h3{
    font-size: 1.45rem;
    letter-spacing: 0.05rem;
    width: 100%;
    font-weight: 300;
}

.spans{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.amount{
    padding: 0.4rem 0.6rem;
    border: 1.99px solid rgba(231, 202, 176, 0.808);
    border-radius: 1rem;
}

.price{
    color: rgba(231, 202, 176, 0.808);
}

.action{
    display: flex;
    gap:1rem;
    justify-content: space-between;
    align-items: end;
}

.plus, .minus{
    padding: 0.4rem 0.9rem;
    color: rgb(15, 15, 15);
    background-color: rgba(231, 202, 176, 0.808);
    border: none;
    font-size: 0.89rem;
    letter-spacing: 0.015rem;
    backdrop-filter: blur(1rem);
    transition: all 1ms ease-in-out;
    cursor: pointer;
    border-radius: 0.2rem;
}

.plus:hover, .minus:hover{
    background-color: rgba(204, 167, 132, 0.808);
    color: rgba(218, 218, 218, 0.918);
}
