form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0;
    align-items: end;
    justify-content: space-between;
}

.input{
    display: flex;
    align-items: center;
    gap: 1rem;
}

input{
    padding: 0.5rem;
    color: white;
    background-color:rgba(0, 0, 0, 0.308);
    border:none;
    box-shadow: inset 3px 5px 20px rgba(3, 3, 3, 0.205), inset -1px -1px 6px rgba(0, 0, 0, 0.171);
    border-radius: 0.2rem;
}

.add{
    padding: 0.425rem;
    color: rgb(15, 15, 15);
    background-color: rgba(231, 202, 176, 0.808);
    border: none;
    font-size: 0.89rem;
    letter-spacing: 0.015rem;
    backdrop-filter: blur(1rem);
    transition: all 1ms ease-in-out;
    cursor: pointer;
    border-radius: 0.2rem;
}

.add:hover{
    background-color: rgba(204, 167, 132, 0.808);
    color: rgba(218, 218, 218, 0.918);
}