.header{
    background-color:rgb(141, 41, 1);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    color:rgba(255, 255, 255, 0.904);
    align-items: center;
}

.header h2{
    letter-spacing: 0.09rem;
}

.header-image{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    z-index: -1;
}

.header-image .img{
    width: 110%;
    height: 50%;
    overflow: hidden;
    transform: translateX(-3rem) translateY(-10rem);

}

